In [27]:
import numpy as np
import pandas as pd

file1 = pd.read_csv("../file_processing/sales_1.csv", encoding="utf-8")
file2 = pd.read_csv("../file_processing/sales_2.csv", encoding="utf-8")
file1

        판매일자      제품명  판매수량     판매단가
0  2024.5.15      액세스    15   225000
1  2024.5.15    컴퓨터활용    32   416000
2  2024.5.15     전산개론    15   217500
3  2024.5.15  멀티미디어개론    80  1120000
4  2024.5.15   C언어 입문    12   216000
5  2024.5.15     자바입문    25   400000

In [28]:
file2

        판매일자           제품명  판매수량    판매단가
0  2024.5.18  Visual Basic     8  136000
1  2024.5.18         컴퓨터활용    12  156000
2  2024.5.18          전산개론     8  116000
3  2024.5.18          자료구조    12  300000
4  2024.5.18        C언어 입문    15  270000
5  2024.5.18          자바입문    12  192000

In [29]:
# 파일 합치기
df1 = pd.concat([file1, file2])
df1

        판매일자           제품명  판매수량     판매단가
0  2024.5.15           액세스    15   225000
1  2024.5.15         컴퓨터활용    32   416000
2  2024.5.15          전산개론    15   217500
3  2024.5.15       멀티미디어개론    80  1120000
4  2024.5.15        C언어 입문    12   216000
5  2024.5.15          자바입문    25   400000
0  2024.5.18  Visual Basic     8   136000
1  2024.5.18         컴퓨터활용    12   156000
2  2024.5.18          전산개론     8   116000
3  2024.5.18          자료구조    12   300000
4  2024.5.18        C언어 입문    15   270000
5  2024.5.18          자바입문    12   192000

In [30]:
# 인덱스 초기화 & 재정렬
df1.reset_index(drop=True, inplace=True)
df1

         판매일자           제품명  판매수량     판매단가
0   2024.5.15           액세스    15   225000
1   2024.5.15         컴퓨터활용    32   416000
2   2024.5.15          전산개론    15   217500
3   2024.5.15       멀티미디어개론    80  1120000
4   2024.5.15        C언어 입문    12   216000
5   2024.5.15          자바입문    25   400000
6   2024.5.18  Visual Basic     8   136000
7   2024.5.18         컴퓨터활용    12   156000
8   2024.5.18          전산개론     8   116000
9   2024.5.18          자료구조    12   300000
10  2024.5.18        C언어 입문    15   270000
11  2024.5.18          자바입문    12   192000

In [31]:
# 인덱스 재조정 없이 새로운 인덱스로 dataframe 합치기
# ignore_index=True
df2 = pd.concat([file1, file2], ignore_index=True)
df2

         판매일자           제품명  판매수량     판매단가
0   2024.5.15           액세스    15   225000
1   2024.5.15         컴퓨터활용    32   416000
2   2024.5.15          전산개론    15   217500
3   2024.5.15       멀티미디어개론    80  1120000
4   2024.5.15        C언어 입문    12   216000
5   2024.5.15          자바입문    25   400000
6   2024.5.18  Visual Basic     8   136000
7   2024.5.18         컴퓨터활용    12   156000
8   2024.5.18          전산개론     8   116000
9   2024.5.18          자료구조    12   300000
10  2024.5.18        C언어 입문    15   270000
11  2024.5.18          자바입문    12   192000

In [32]:
# 열 '판매금액'을 삽입 후, 0으로 모두 설정하세요.
df2['판매금액'] = None
df2

         판매일자           제품명  판매수량     판매단가  판매금액
0   2024.5.15           액세스    15   225000  None
1   2024.5.15         컴퓨터활용    32   416000  None
2   2024.5.15          전산개론    15   217500  None
3   2024.5.15       멀티미디어개론    80  1120000  None
4   2024.5.15        C언어 입문    12   216000  None
5   2024.5.15          자바입문    25   400000  None
6   2024.5.18  Visual Basic     8   136000  None
7   2024.5.18         컴퓨터활용    12   156000  None
8   2024.5.18          전산개론     8   116000  None
9   2024.5.18          자료구조    12   300000  None
10  2024.5.18        C언어 입문    15   270000  None
11  2024.5.18          자바입문    12   192000  None

In [33]:
# 판매금액 = 판매수량 * 판매단가로 수정
df2['판매금액'] = df2['판매수량'] * df2['판매단가']
df2

         판매일자           제품명  판매수량     판매단가      판매금액
0   2024.5.15           액세스    15   225000   3375000
1   2024.5.15         컴퓨터활용    32   416000  13312000
2   2024.5.15          전산개론    15   217500   3262500
3   2024.5.15       멀티미디어개론    80  1120000  89600000
4   2024.5.15        C언어 입문    12   216000   2592000
5   2024.5.15          자바입문    25   400000  10000000
6   2024.5.18  Visual Basic     8   136000   1088000
7   2024.5.18         컴퓨터활용    12   156000   1872000
8   2024.5.18          전산개론     8   116000    928000
9   2024.5.18          자료구조    12   300000   3600000
10  2024.5.18        C언어 입문    15   270000   4050000
11  2024.5.18          자바입문    12   192000   2304000

In [34]:
# 응용
#1. 열 '부가세율'을 삽입 후 0으로 설정
df2['부가세율'] = 0
df2

         판매일자           제품명  판매수량     판매단가      판매금액  부가세율
0   2024.5.15           액세스    15   225000   3375000     0
1   2024.5.15         컴퓨터활용    32   416000  13312000     0
2   2024.5.15          전산개론    15   217500   3262500     0
3   2024.5.15       멀티미디어개론    80  1120000  89600000     0
4   2024.5.15        C언어 입문    12   216000   2592000     0
5   2024.5.15          자바입문    25   400000  10000000     0
6   2024.5.18  Visual Basic     8   136000   1088000     0
7   2024.5.18         컴퓨터활용    12   156000   1872000     0
8   2024.5.18          전산개론     8   116000    928000     0
9   2024.5.18          자료구조    12   300000   3600000     0
10  2024.5.18        C언어 입문    15   270000   4050000     0
11  2024.5.18          자바입문    12   192000   2304000     0

In [35]:
# 2. 부가세율을 3%인 0.03으로 재종하여 삽입
df2['부가세율'] = 0.03
df2

         판매일자           제품명  판매수량     판매단가      판매금액  부가세율
0   2024.5.15           액세스    15   225000   3375000  0.03
1   2024.5.15         컴퓨터활용    32   416000  13312000  0.03
2   2024.5.15          전산개론    15   217500   3262500  0.03
3   2024.5.15       멀티미디어개론    80  1120000  89600000  0.03
4   2024.5.15        C언어 입문    12   216000   2592000  0.03
5   2024.5.15          자바입문    25   400000  10000000  0.03
6   2024.5.18  Visual Basic     8   136000   1088000  0.03
7   2024.5.18         컴퓨터활용    12   156000   1872000  0.03
8   2024.5.18          전산개론     8   116000    928000  0.03
9   2024.5.18          자료구조    12   300000   3600000  0.03
10  2024.5.18        C언어 입문    15   270000   4050000  0.03
11  2024.5.18          자바입문    12   192000   2304000  0.03

In [36]:
# 3. 부가세액을 판매금액 * 부가세율을 곱하여 계산
df2['부가세액'] = df2['판매금액'] * df2['부가세율']
df2

         판매일자           제품명  판매수량     판매단가      판매금액  부가세율       부가세액
0   2024.5.15           액세스    15   225000   3375000  0.03   101250.0
1   2024.5.15         컴퓨터활용    32   416000  13312000  0.03   399360.0
2   2024.5.15          전산개론    15   217500   3262500  0.03    97875.0
3   2024.5.15       멀티미디어개론    80  1120000  89600000  0.03  2688000.0
4   2024.5.15        C언어 입문    12   216000   2592000  0.03    77760.0
5   2024.5.15          자바입문    25   400000  10000000  0.03   300000.0
6   2024.5.18  Visual Basic     8   136000   1088000  0.03    32640.0
7   2024.5.18         컴퓨터활용    12   156000   1872000  0.03    56160.0
8   2024.5.18          전산개론     8   116000    928000  0.03    27840.0
9   2024.5.18          자료구조    12   300000   3600000  0.03   108000.0
10  2024.5.18        C언어 입문    15   270000   4050000  0.03   121500.0
11  2024.5.18          자바입문    12   192000   2304000  0.03    69120.0

In [37]:
# 4. 실제판매가 = 판매금액 + 부가세액을 더하여 계산
df2['실제판매가'] = df2['판매금액'] + df2['부가세액']
df2

,판매일자,제품명,판매수량,판매단가,판매금액,부가세율,부가세액,실제판매가
0,2024.5.15,액세스,15,225000,3375000,0.03,101250.0,3476250.0
1,2024.5.15,컴퓨터활용,32,416000,13312000,0.03,399360.0,13711360.0
2,2024.5.15,전산개론,15,217500,3262500,0.03,97875.0,3360375.0
3,2024.5.15,멀티미디어개론,80,1120000,89600000,0.03,2688000.0,92288000.0
4,2024.5.15,C언어 입문,12,216000,2592000,0.03,77760.0,2669760.0
5,2024.5.15,자바입문,25,400000,10000000,0.03,300000.0,10300000.0
6,2024.5.18,Visual Basic,8,136000,1088000,0.03,32640.0,1120640.0
7,2024.5.18,컴퓨터활용,12,156000,1872000,0.03,56160.0,1928160.0
8,2024.5.18,전산개론,8,116000,928000,0.03,27840.0,955840.0
9,2024.5.18,자료구조,12,300000,3600000,0.03,108000.0,3708000.0
10,2024.5.18,C언어 입문,15,270000,4050000,0.03,121500.0,4171500.0
11,2024.5.18,자바입문,12,192000,2304000,0.03,69120.0,2373120.0

In [38]:
df_backup = df2.copy()
df_backup

,판매일자,제품명,판매수량,판매단가,판매금액,부가세율,부가세액,실제판매가
0,2024.5.15,액세스,15,225000,3375000,0.03,101250.0,3476250.0
1,2024.5.15,컴퓨터활용,32,416000,13312000,0.03,399360.0,13711360.0
2,2024.5.15,전산개론,15,217500,3262500,0.03,97875.0,3360375.0
3,2024.5.15,멀티미디어개론,80,1120000,89600000,0.03,2688000.0,92288000.0
4,2024.5.15,C언어 입문,12,216000,2592000,0.03,77760.0,2669760.0
5,2024.5.15,자바입문,25,400000,10000000,0.03,300000.0,10300000.0
6,2024.5.18,Visual Basic,8,136000,1088000,0.03,32640.0,1120640.0
7,2024.5.18,컴퓨터활용,12,156000,1872000,0.03,56160.0,1928160.0
8,2024.5.18,전산개론,8,116000,928000,0.03,27840.0,955840.0
9,2024.5.18,자료구조,12,300000,3600000,0.03,108000.0,3708000.0
10,2024.5.18,C언어 입문,15,270000,4050000,0.03,121500.0,4171500.0
11,2024.5.18,자바입문,12,192000,2304000,0.03,69120.0,2373120.0

In [39]:
df_sale_date = df2.groupby('판매일자').sum()
df_sale_date

,제품명,판매수량,판매단가,판매금액,부가세율,부가세액,실제판매가
판매일자,,,,,,,
2024.5.15,액세스컴퓨터활용전산개론멀티미디어개론C언어 입문자바입문,179,2594500,122141500,0.18,3664245.0,125805745.0
2024.5.18,Visual Basic컴퓨터활용전산개론자료구조C언어 입문자바입문,67,1170000,13842000,0.18,415260.0,14257260.0

In [40]:
df_salepum_date = df2.groupby(['판매일자', '제품명']).sum()
df_salepum_date

                        판매수량     판매단가      판매금액  부가세율       부가세액       실제판매가
판매일자      제품명
2024.5.15 C언어 입문          12   216000   2592000  0.03    77760.0   2669760.0
          멀티미디어개론         80  1120000  89600000  0.03  2688000.0  92288000.0
          액세스             15   225000   3375000  0.03   101250.0   3476250.0
          자바입문            25   400000  10000000  0.03   300000.0  10300000.0
          전산개론            15   217500   3262500  0.03    97875.0   3360375.0
          컴퓨터활용           32   416000  13312000  0.03   399360.0  13711360.0
2024.5.18 C언어 입문          15   270000   4050000  0.03   121500.0   4171500.0
          Visual Basic     8   136000   1088000  0.03    32640.0   1120640.0
          자료구조            12   300000   3600000  0.03   108000.0   3708000.0
          자바입문            12   192000   2304000  0.03    69120.0   2373120.0
          전산개론             8   116000    928000  0.03    27840.0    955840.0
          컴퓨터활용           12   156000   1872000  0.03    56160.0   1928160.0

In [52]:
# 응용 실제 판매가에 대한 평균
sale_avg = round(np.mean(df2[['실제판매가']]),2)
print(sale_avg)

11671917.08

In [69]:
# 응용
# pd.options.display.float_format = '{:.2f}'.format
df2_avg = df2.groupby(['판매일자']).agg({'실제판매가': 'mean'}).round(2)
df2_avg

                실제판매가
판매일자
2024.5.15 20967624.17
2024.5.18  2376210.00