In [6]:
import numpy as np
import pandas as pd

# page 239 1번문제
df = pd.read_excel('../file_processing/liquid.xlsx')
df

     제품번호    제품명   제조사  분류     가격   상반기매출   하반기매출       합계
0  SL1-01  본세탁세제  미래건강  세탁  28500  875700  918000  1793700
1  FC1-01  주택세정제   보리수  청소   8900  184000  212000   396000
2  FK1-01  식기세정제  해피그린  주방   9500  223500  289600   513100
3  FK1-02    울샴푸  해피그린  세탁  18000  427600  384700   812300
4  SL1-02  과일세정제  미래건강  주방  11000  505000  528900  1033900
5  SL1-03  살균세정제  미래건강  청소  21500  315800  346000   661800
6  FK1-03  욕실세정제  해피그린  청소   8000  198400  256700   455100
7  FC1-02  섬유유연제   보리수  세탁  14700  389600  356000   745600
8  FC1-03  기타세정제   보리수  주방  13500  558700  574200  1132900
9  FK1-04   보조세제  해피그린  세탁  12000  145000  223400   368400

In [7]:
# 1. 열 합계가 1000000이상인 데이터를 추출
df.query('합계 >= 1000000')

     제품번호    제품명   제조사  분류     가격   상반기매출   하반기매출       합계
0  SL1-01  본세탁세제  미래건강  세탁  28500  875700  918000  1793700
4  SL1-02  과일세정제  미래건강  주방  11000  505000  528900  1033900
8  FC1-03  기타세정제   보리수  주방  13500  558700  574200  1132900

In [13]:
# 2. 열 '분류'가 ['주방','세탁'] 항목이 아닌 데이터를 추출
df[(df['분류'] != '주방') & (df['분류'] != '세탁')]
# df[~df['분류'].isin(['주방', '세탁'])]

     제품번호    제품명   제조사  분류     가격   상반기매출   하반기매출      합계
1  FC1-01  주택세정제   보리수  청소   8900  184000  212000  396000
5  SL1-03  살균세정제  미래건강  청소  21500  315800  346000  661800
6  FK1-03  욕실세정제  해피그린  청소   8000  198400  256700  455100

In [14]:
# 3. 열 '제품명','제조사','가격' 데이터만 추출
df[['제품명','제조사','가격']]

     제품명   제조사     가격
0  본세탁세제  미래건강  28500
1  주택세정제   보리수   8900
2  식기세정제  해피그린   9500
3    울샴푸  해피그린  18000
4  과일세정제  미래건강  11000
5  살균세정제  미래건강  21500
6  욕실세정제  해피그린   8000
7  섬유유연제   보리수  14700
8  기타세정제   보리수  13500
9   보조세제  해피그린  12000

In [15]:
# 4. 열 '힙계'가 1000000이상 1500000이하인 데이터만 추출
df[(df['합계'] >= 1000000) & (df['합계'] <= 1500000)]

     제품번호    제품명   제조사  분류     가격   상반기매출   하반기매출       합계
4  SL1-02  과일세정제  미래건강  주방  11000  505000  528900  1033900
8  FC1-03  기타세정제   보리수  주방  13500  558700  574200  1132900

In [ ]:
# 5.